<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
    <header class="pc">
        <nav class="pc-nav">
            <!--<div class="pc-nav-left">
                <a href=""><img src="../../img/logo.png" alt=""></a>
            </div>
            <div class="pc-nav-right">
                <div><a href=""><img src="../img/image5.png" alt=""></a></div>
                <div><a href=""><img src="../img/cw_logo_hz_color_bk.png" alt=""></a></div>
            </div>-->
        </nav> 
    </header>
    <header class="sp">
       <nav class="sp-nav">
            <!-- <div class="sp-nav-left">
                <a href=""><img src="../../img/logo.png" alt=""></a>
            </div> -->
        </nav>
    </header>
    <main>
        <section>
            <h2>ブログ管理システム</h2>
            <form th:action="@{/admin/login}" method="POST">
                <table>
                    <tr>
                        <th>email</th>
                        <td><input type="text" name="userEmail"></td>
                    </tr>
                    <tr>
                        <th>password</th>
                        <td class="login-pass"><input type="text" name="password"></td>
                    </tr>
                </table>
                <div class="submit-button">
                    <button id="login" class="active_btn">ログイン</button>
                </div>
            </form>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>

</html>